<div class="row">
  <p><b>Backlight</b></p>
  <div class="col-xs-5 text-left" style="padding-top: 0em;">
    <div style="border: .1em solid white; border-radius: .4em; height: 10em; width: 4em; text-align: center; vertical-align: middle; position: relative; cursor: pointer; padding-top: 3em; transition: 2s;" ng-class="{'bg-success':  device._on}" ng-click="toggle_onoff(); device.locked=undefined">
      <div style="text-align: center;">
        <h2><i class="icon-lightbulb-idea"></i></h2>
      </div>
    </div>
  </div>
  <div class="col-xs-7" style="font-size: 2.5em; text-align: right; padding-left: 1em;" ng-show="has_capability('dimmer')">
    <div style="width: 1em;">
      <div><i class="icon-chevron-up" style="cursor: pointer;" ng-click="level_up();"></i></div>
      <div style="text-align: center; font-size: .75em">{{device._level}}<i class="icon-ban-circle" ng-show="device._level === undefined"></i></div>
      <div><i class="icon-chevron-down" style="cursor: pointer;" ng-click="level_down();"></i></div>
    </div>
  </div>
  <p><b>Display Lock</b></p>
  <div class="col-xs-12">
    <div class="btn-group btn-group-justified" role="group" >
      <div class="btn-group" role="group">
        <button type="button" class="btn" ng-click="display_unlock();" ng-class="{'btn-success': device.locked === false, 'btn-default': device.locked !== false}"><i class="icon-unlock"></i></button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn" ng-click="display_lock();" ng-class="{'btn-success': device.locked === true, 'btn-default': device.locked !== true}"><i class="icon-lock"></i></button>
      </div>
    </div>
  </div>
</div>
