<div style="text-align: center;">
  <div style="border: .1em solid white; border-radius: .4em; height: 12em; width: 8em; text-align: center; vertical-align: middle; margin: 0 auto; position: relative; padding-top: 1em; transition: 2s;" >
    <div style="text-align: center;">
      <h2 style=" cursor: pointer;position: absolute; top: .25em; left: 0em; width: 100%; text-align: center;" ng-click="lock()"><i class="icon-lock"></i></h2>
      <h2 style=" cursor: pointer;position: absolute; bottom: .25em; left: 0em; width: 100%; text-align: center;"  ng-click="unlock()"><i class="icon-unlock"></i></h2>
    </div>
  </div>
</div>
