<div class="modal-header">
<h3>{{device.name}}</h3>
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" ng-hide="controls.length == 0">
        <label for="enabled">Setting: </label>
        <div ng-repeat="control in controls" ng-include="control.view" class="row" > </div>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2">
        <label>Stages: </label>
        <div style="width: 1em;">
          <div><i class="icon-chevron-up" style="cursor: pointer;" ng-click="stages_up()"></i></div>
          <div style="text-align: center;">{{selected.stages}}</div>
          <div><i class="icon-chevron-down" style="cursor: pointer;" ng-click="stages_down()"></i></div>
        </div>
      </div>

      <div class="col-sm-8">

          <label for="enabled">Duration (hh:mm:ss) </label>
          <epochduration time="selected.duration"></epochduration>

      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="save()" ng-show="device"><i class="icon-savetodrive"></i> Save</button>
</div>
