
  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Scenes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          <div class="input-group" ng-hide="loading">
            <input type="text" class="form-control" id="name" placeholder="Search" ng-model="search" autocomplete='off'>
            <div class="input-group-addon"><i class="icon-search"></i></div>
          </div>
        </p>
        <h4 ng-show="loading"><i class="icon-refresh spin"></i> Loading...</h4>
        <ul class="list-group" ng-hide="loading">
          <li class="list-group-item" style="cursor: pointer;" ng-click="view(scene)" ng-repeat="scene in scenes | filter: search | orderBy: '+name'">
            {{scene.name}} <div class="pull-right" style="margin-left: .5em; margin-top: -.25em"> <button class="btn btn-xs btn-default" ng-click="edit(scene)" stop-event><i class="icon-edit"></i></button></div> <span class="badge">{{scene._steps.length}} <i class="icon-list-alt"></i></span> <span class="badge">{{scene._rooms.length}} <i class="glyphicon glyphicon-modal-window"></i></span>
            <div style="font-size: .7em" class="text-muted" ng-show="scene.tags.length > 0"><i class="icon-tag"></i>
              <span ng-repeat="tag in scene.tags" style="margin-right: 1em;">{{tag}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-success img-circle " style="position: fixed; bottom: 1.5em; right: 1.5em; font-size: 1.5em; height: 2.5em; width: 2.5em; text-align: center; box-shadow: .2em .2em .3em black; line-height: 2.7em; font-weight: bold; cursor: pointer;" ui-sref="main.scenes.add"><i class="icon-plus"></i></button>
