  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Edit Scene
           <div class="pull-right pointer"  ui-sref="^.list"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3" style="position: relative">
                <ul class="section-nav">
                  <li ng-click="section='general'" ng-class="{active: section == 'general'}">General</li>
                  <li ng-click="section='steps'" ng-class="{active: section == 'steps'}">Steps</li>
                  <li ng-click="section='rooms'" ng-class="{active: section == 'rooms'}">Rooms</li>
                  <!-- <li ng-click="section='triggers'" ng-class="{active: section == 'triggers'}">Triggers</li> -->
                </ul>
              </div>
              <div class="col-sm-9 col-xs-12">

                <form name="saveScene">
                  <div ng-show="section=='general'">

                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="scene.name">
                    </div>
                    <div class="form-group">
                      <label for="enabled">Repeat: </label>
                      <toggle value="scene.repeat" class="pull-right"></toggle>
                    </div>
                    <div class="form-group">
                      <label for="enabled">Enable On/Off: </label>
                      <toggle value="scene.onoff" class="pull-right"></toggle>
                    </div>
                    <div class="form-group" ng-show="scene.repeat">
                      <label for="enabled">Repeat Delay (hh:mm:ss) </label>
                      <epochduration time="scene.repeat_delay" ></epochduration>
                    </div>

                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="saveScene.$invalid"><i class="icon-savetodrive"></i> Save</button>
                      <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
                    </div>
                  </div>

                  <div ng-show="section=='steps'">
                    <div class="form-group">
                      <label for="name">Steps </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addStep()"><i class="icon-plus-sign"></i> Add Step</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="step in scene._steps">
                          <div class="row">
                            <div class="col-xs-2" style="text-align: center">
                              <div><button class="btn btn-sm btn-default"><i class="icon-arrow-up"></i></button></div>
                              <div >{{$index + 1}}</div>
                              <div><button class="btn btn-sm btn-default"><i class="icon-arrow-down"></i></button></div>
                            </div>
                            <div class="col-xs-9">
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for="enabled">Step Delay: </label>
                                    <epochduration time="step.delay"></epochduration>
                                  </div>
                                </div>
                                <div class="col-md-7">
                                  <div class="form-group">
                                    <label for="enabled">Actions: </label>
                                    <button class="btn btn-info btn-xs pull-right" ng-click="addAction(step)"><i class="icon-plus-sign"></i> Add</button>

                                    <ul class="list-group">
                                      <li class="list-group-item" ng-repeat="action in step.actions" style="cursor: pointer" ng-click="editAction(action)">
                                        {{action.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeDevice(step, $index)"><i class="icon-remove-sign"></i></button>
                                        <div style="font-size: .70em;">
                                          <span ng-show="!action._level && action._on">Turn ON</span>
                                          <span ng-show="action._level > 0">Turn ON to {{action._level}}% brightness</span>
                                          <span ng-show="action._mode == 'COOL'">Turn on COOL to {{action._set_point}}&deg;</span>
                                          <span ng-show="action._mode == 'HEAT'">Turn on HEAT to {{action._set_point}}&deg;</span>
                                          <span ng-show="action._mode == 'OFF'">Turn OFF</span>
                                          <span ng-show="action._on == false">Turn OFF</span>
                                          <span ng-show="action.duration > 0"> over {{action.duration | ageHumanReadable}} and {{action.stages}} stages</span>
                                          <span ng-show="action.duration == 0"> immediately</span>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>

                                  <div class="form-group">
                                    <label for="enabled">Wait for Actions: </label>
                                    <toggle value="step.wait" class="pull-right"></toggle>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-1">
                              <button class="pull-right btn btn-default btn-sm" ng-click="removeStep($index)"><i class="icon-trash"></i></button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="saveScene.$invalid"><i class="icon-savetodrive"></i> Save</button>
                      <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
                    </div>
                  </div>

                  <div ng-show="section=='rooms'">

                    <div ng-show="loading"><i class="icon-refresh spin"></i> Loading Rooms</div>
                    <div class="form-group" ng-hide="loading">
                      <label for="name">Rooms </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addRoom()"><i class="icon-plus-sign"></i> Assign</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="room in rooms">{{room.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeRoom(room._id)"><i class="icon-remove-sign"></i> Unassign</button></li>
                      </ul>
                    </div>

                  </div>

                  <div ng-show="section=='triggers'">

                    <div ng-show="loading"><i class="icon-refresh spin"></i> Loading Triggers</div>
                    <div class="form-group" ng-hide="loading">
                      <label for="name">Triggers </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addToTrigger()"><i class="icon-plus-sign"></i> Assign</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="trigger in triggers">{{trigger.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeFromTrigger(room._id)"><i class="icon-remove-sign"></i> Unassign</button></li>
                      </ul>
                    </div>

                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
