  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Edit Room</h2>
      </div>
    </div>
    <div style="position: fixed; right: 1em; top: .4em; font-size: 2.5em; cursor: pointer"  ui-sref="^.list"><i class="glyphicon glyphicon-arrow-left"></i></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3" style="position: relative">
                <ul class="section-nav">
                  <li ng-click="section='general'" ng-class="{active: section == 'general'}">General</li>
                  <li ng-click="section='devices'" ng-class="{active: section == 'devices'}">Devices</li>
                  <li ng-click="section='scenes'" ng-class="{active: section == 'scenes'}">Scenes</li>
                  <li ng-click="section='triggers'" ng-class="{active: section == 'triggers'}">Triggers</li>
                </ul>
              </div>
              <div class="col-sm-9 col-xs-12">

                <form name="addRoom">
                  <div ng-show="section=='general'">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="room.name">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="addRoom.$invalid"><i class="icon-savetodrive"></i> Save</button>
                      <button type="submit" class="btn btn-sm btn-default" ng-click="remove()" ng-disabled="addRoom.$invalid"><i class="icon-circledelete"></i> Remove</button>
                    </div>
                    <room-icon room="{{room._id}}" temp-type="cycle"></room-icon>
                  </div>
                  <div ng-show="section=='devices'">
                    <div ng-show="loading"><i class="icon-refresh spin"></i> Loading Devices</div>
                    <div class="form-group" ng-hide="loading">
                      <label for="name">Devices </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addDevice()"><i class="icon-plus-sign"></i> Assign</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="device in devices">{{device.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeDevice(device._id)"><i class="icon-remove-sign"></i> Unassign</button></li>
                      </ul>
                    </div>
                  </div>
                  <div ng-show="section=='scenes'">
                    <div ng-show="loading"><i class="icon-refresh spin"></i> Loading Scenes</div>
                    <div class="form-group" ng-hide="loading">
                      <label for="name">Scenes </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addScene()"><i class="icon-plus-sign"></i> Assign</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="scene in scenes">{{scene.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeScene(scene._id)"><i class="icon-remove-sign"></i> Unassign</button></li>
                      </ul>
                    </div>
                  </div>
                  <div ng-show="section=='triggers'">
                    <div ng-show="loading"><i class="icon-refresh spin"></i> Loading Triggers</div>
                    <div class="form-group" ng-hide="loading">
                      <label for="name">Triggers </label>
                      <button class="btn btn-success btn-xs pull-right" ng-click="addToTrigger()"><i class="icon-plus-sign"></i> Assign</button>
                      <ul class="list-group">
                        <li class="list-group-item" ng-repeat="trigger in triggers">{{trigger.name}} <button class="pull-right btn btn-default btn-xs" ng-click="removeFromTrigger(trigger._id)"><i class="icon-remove-sign"></i> Unassign</button></li>
                      </ul>
                    </div>
                  </div>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
