<div ng-controller="autoshadesAdd">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Level at Sunrise <toggle value="device.config.sunrise" class="pull-right"></toggle></div>
    <div class="panel-body">
      <rzslider rz-slider-model="device.config.sunrise_level" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true, disabled: !device.config.sunrise}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Follow the Sun <toggle value="device.config.track" class="pull-right"></toggle></div>
    <div class="panel-body">
      <div class="form-group">
        <label for="name">Mode</label>
        <select class="form-control" ng-model="device.config.mode" ng-options="item for item in modes" ng-disabled="!device.config.track"></select>
      </div>
      <div class="form-group">
        <label for="name">Min Azimuth</label>
        <rzslider rz-slider-model="device.config.min_azimuth" rz-slider-options="{floor: 0, ceil: 360, hideLimitLabels: true, disabled: !device.config.track}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
      </div>
      <div class="form-group">
        <label for="name">Max Azimuth</label>
        <rzslider rz-slider-model="device.config.max_azimuth" rz-slider-options="{floor: 0, ceil: 360, hideLimitLabels: true, disabled: !device.config.track}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Cloudy Level</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="name">Device</label>
        <select-device value="device.config.weather" capabilities="['weather']"></select-device>
      </div>
      <div class="form-group">
        <rzslider rz-slider-model="device.config.cloudy_level" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true, disabled: !device.config.weather}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Level at Sunset <toggle value="device.config.sunset" class="pull-right"></toggle></div>
    <div class="panel-body">
      <rzslider rz-slider-model="device.config.sunset_level" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true, disabled: !device.config.sunset}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Shades 
      <button class="pull-right btn btn-success btn-xs" ng-click="addDevice()"><i class="icon-circleadd"></i> Add</button>
    </div>
    <div class="panel-body">
      <ul class="list-group bg-muted select-list" style="height: 20em;">
        <li class="list-group-item" style="cursor: pointer;" ng-repeat="device in device.config.devices" ng-class="{'list-group-item-success': device === selected}">
          {{device.name}}
          <button class="pull-right btn btn-danger btn-xs" ng-click="deleteDevice(device.$index)"><i class="icon-trash"></i></button>
          <rzslider rz-slider-model="device.min_level" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true, hidePointerLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
          <div><small>Min Level to Adjust: {{device.min_level}}%</small></div>
        </li>
      </ul>
    </div>
  </div>
</div>
