
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
</div>

<div ng-hide="has_capability('scene')">
	<div class="form-group">
	  <label for="address">Device Number</label>
	  <input type="text" class="form-control" id="address" placeholder="Address" required="" ng-model="device.config.address" readonly>
	</div>
</div>

<div ng-show="has_capability('scene')">
	<div class="form-group">
	  <label for="name">Scene Number</label>
	  <input type="text" class="form-control" id="scene" placeholder="Scene" required="" ng-model="device.config.address">
	</div>
</div>

<div class="form-group">
  <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="editDevice.$invalid"><i class="icon-savetodrive"></i> Save</button>
  <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
</div>
