
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
<div style="position: fixed; right: 1em; top: .5em; font-size: 3em; cursor: pointer" ng-click="state.go('^')"><i class="glyphicon glyphicon-arrow-left"></i></div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
    <h2>Settings / Sensors</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2" style="font-size: 2em;">

        <div class="panel panel-default">
          <div class="panel-body">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form name="settings">

              <ul class="list-group" ng-hide="loading">
                <li class="list-group-item" style="cursor: pointer;" ng-click="view(room)" ng-repeat="sensor in sensors | orderBy: '+name'">
                  {{sensor.name}} <span class="badge"><i class="glyphicon glyphicon-ok text-success"></i></span>
                </li>
              </ul>

              <div class="form-group">
                <button type="submit" class="btn btn-sm btn-default" ng-click="state.go('^')"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</button>
              </div>
            </form>
          </div>
        </div>

  </div>
</div>
</div>

