  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Settings / Users /Edit
           <div class="pull-right pointer"  ui-sref="^.list"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form name="userFrm">
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.name.$valid && userFrm.name.$dirty, 'has-error': userFrm.name.$invalid && userFrm.name.$dirty}">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required="" ng-model="user.name">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.name.$valid && userFrm.name.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.name.$invalid && userFrm.name.$dirty"></span>
                <span class="help-block text-danger" ng-show="field_errors.name">{{field_errors.name}}</span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.user.$valid && userFrm.user.$dirty, 'has-error': userFrm.user.$invalid && userFrm.user.$dirty}">
                <label for="user">User</label>
                <input type="text" class="form-control" name="user" id="user" placeholder="User" required="" ng-model="user.user" readonly>
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.user.$valid && userFrm.user.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.user.$invalid && userFrm.user.$dirty"></span>
                <span class="help-block text-danger" ng-show="field_errors.user">{{field_errors.user}}</span>
              </div>
              <div class="form-group has-feedback" ng-class="{'has-success': userFrm.email.$valid && userFrm.email.$dirty, 'has-error': userFrm.email.$invalid && userFrm.email.$dirty}">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="" ng-model="user.email">
                <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.email.$valid && userFrm.email.$dirty"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.email.$invalid && userFrm.email.$dirty"></span>
                <span class="help-block text-danger" ng-show="field_errors.email">{{field_errors.email}}</span>
              </div>

              <div class="form-group" >
                <label for="email">Tokens</label>
                <button class="btn btn-primary btn-xs pull-right" ng-click="load()"><i class="icon-refresh" ng-class="{'spin': loading}" ng-disabled="loading"></i></button>
                <ul class="list-group" ng-hide="loading">
                  <li class="list-group-item" ng-repeat="token in tokens | orderBy: '-expires'">
                    <button class="btn btn-danger btn-xs pull-right" ng-click="delete_token(token)" ng-disabled="token.client_token == auth.token.client_token"><i class="icon-trash"></i></button>
                    <div>
                      <i class="text-success icon-ok-sign" ng-show="token.client_token == auth.token.client_token"></i>
                      <i class="text-info icon-ok-sign" ng-show="token.status == 'active' && token.client_token != auth.token.client_token"></i>
                      <i class="text-muted icon-tablet" ng-show="token.status == 'nodevice'"></i>
                      <i class="text-muted icon-picture" ng-show="token.status == 'unassigned'"></i>
                      <small ng-show="token.agent.family">
                        {{token.agent.family}}<span ng-show="token.agent.os.family"> on {{token.agent.os.family}}</span>
                        <button uib-popover="{{token.agent.source}}" popover-trigger="'outsideClick click'" type="button" class="btn btn-link btn-xs "><span class="glyphicon glyphicon-question-sign"></span></button>
                      </small>
                      <small ng-show="!token.agent.family">{{token.agent.source || token.agent}}</small>
                    </div>
                    <div class="pull-right"></div>

                    <div style="font-size: .8em;" ng-show="token.locale">{{token.locale.city}}, {{token.locale.region}} {{token.locale.country}} ({{token.ip}})</div>
                    <div style="font-size: .8em;" ng-hide="token.locale">IP: {{token.ip}}</div>
                    <div style="font-size: .7em;" class="pull-right">Expires: {{token.last_used | date: 'medium'}}</div>
                    <div style="font-size: .7em;">Used: {{token.expires | date: 'medium'}}</div>
                  </li>
                  <li class="list-group-item" ng-show="tokens.length == 0">No Tokens Found</li>
                </ul>

              </div>

              <div class="well">
                  <div class="form-group has-feedback" ng-class="{'has-success': userFrm.newpassword.$valid && userFrm.newpassword.$dirty, 'has-error': userFrm.newpassword.$invalid && userFrm.newpassword.$dirty}">
                  <label for="newpassword">New Password</label>
                  <input type="password" name="newpassword" class="form-control" ng-model="user.password" matches="userFrm.newpassword2.$viewValue">
                  <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.newpassword.$valid && userFrm.newpassword.$dirty"></span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.newpassword.$invalid && userFrm.newpassword.$dirty"></span>
                  </div>

                  <div class="form-group has-feedback" ng-class="{'has-success': userFrm.newpassword2.$valid && userFrm.newpassword2.$dirty, 'has-error': userFrm.newpassword2.$invalid && userFrm.newpassword2.$dirty}">
                  <input type="password" name="newpassword2" class="form-control" ng-model="user.newpassword2" matches="userFrm.newpassword.$viewValue">
                  <span class="glyphicon glyphicon-ok form-control-feedback"  ng-show="userFrm.newpassword2.$valid && userFrm.newpassword2.$dirty"></span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="userFrm.newpassword2.$invalid && userFrm.newpassword2.$dirty"></span>
                  </div>
                  <span class="help-block" ng-class="{'text-danger': userFrm.$error.matches}" ng-show="userFrm.$error.matches">Passwords must match</span>
                  <span class="help-block text-danger" ng-show="field_errors.password">{{field_errors.password}}</span>
              </div>

              <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="userFrm.$invalid || working"><i class="icon-save-floppy"></i> Save</button>
              <button type="submit" class="btn btn-sm btn-danger" ng-click="delete()" ng-disabled="auth.token.user == user.user"><i class="icon-trash"></i> Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
