
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
  <div style="position: fixed; right: 1em; top: .5em; font-size: 3em; cursor: pointer" ng-click="state.go('^.^')"><i class="glyphicon glyphicon-arrow-left"></i></div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
      <h2>Settings / Sources</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="font-size: 2em;">

          <div class="panel panel-default">
            <div class="panel-body">
              <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
              <form name="settings">

                <ul class="list-group" ng-hide="loading">
                  <li class="list-group-item" style="cursor: pointer;" ng-click="view(source)" ng-repeat="source in sources | orderBy: '+name'">
                    {{source.name}}</span>
                  </li>
                </ul>

                <div class="form-group">
                  <button type="submit" class="btn btn-sm btn-default" ng-click="state.go('^')"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</button>
                </div>
              </form>
            </div>
          </div>

    </div>
  </div>

  <div class="bg-success img-circle " style="position: fixed; bottom: 1.5em; right: 1.5em; font-size: 2em; height: 2.5em; width: 2.5em; text-align: center; box-shadow: .2em .2em .3em black; line-height: 2.7em; font-weight: bold; cursor: pointer;" ui-sref="index.settings.sources.add"><i class="icon-plus"></i></button>
</div>

