<div class="notifications" ng-class="{'notifications-open': notifications.length > 0}">
<div class="notifications-title">
  Notifications
  <button class="btn btn-sm btn-default pull-right" ng-click="dismissAll()"><i class="icon-circledelete"></i></button>
</div>
<ul class="notifications-list">
<li ng-repeat="notification in notifications" class="notifications-item">
  <h2 class="notification-title">{{notification.message}}</h2>
  <div class="notification-actions">
  <controller ng-repeat="action in notification.actions" title="{{action.title}}" type="{{action.type}}" name="{{action.name}}" action="{{action.action}}" icon="{{action.icon}}" onsuccess="dismiss"></controller>
  <controller title="Ignore" type="notification" name="{{notification._id}}" action="deactivate" icon="icon-circledelete" onsuccess="dismiss"></controller>
  </div>
  <div class="notification-date">{{notification.active_date | date: 'medium'}}</div>
</li>
</ul>

</div>
