<div class="modal-header">
    <h4 class="modal-title">Select a Trigger</h4>
</div>
<div class="modal-body">
  <h4 ng-show="loading"><i class="icon-refresh spin"></i> Loading...</h4>
  <div class="list-group" ng-hide="loading">
    <button type="button" class="list-group-item" ng-repeat="trigger in triggers | orderBy: 'name'" ng-click="select(trigger)" ng-hide="notification.triggers.indexOf(trigger._id) > -1">{{trigger.name}}</button>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="ok()">Close</button>
</div>
