
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
    <h2>Settings / Insteon Hub
           <div class="pull-right pointer"  ui-sref="^.providers"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="form-group">
              <label for="enabled">Enabled: </label>
              <toggle value="config.enabled" class="pull-right"></toggle>
            </div>

            <div class="form-group">
              <label for="api_key">API Key</label>
              <input type="text" class="form-control" id="api_key" placeholder="API Key" required="" ng-model="config.api_key">
            </div>

            <div class="form-group">
              <label for="api_secret">Client Secret</label>
              <input type="text" class="form-control" id="api_secret" placeholder="Client Secret" required="" ng-model="config.api_secret">
            </div>

            <div class="form-group">
              <label for="user">User</label>
              <input type="text" class="form-control" id="user" placeholder="Insteon User" required="" ng-model="config.user">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" placeholder="Insteon Password" required="" ng-model="config.password">
            </div>

            <div class="form-group">
              <label for="enabled">Debug: </label>
              <toggle value="config.debug" class="pull-right"></toggle>
            </div>

            <div class="form-group">
              <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()"><i class="icon-savetodrive"></i> Save</button>
            </div>

          </div>
        </div>

  </div>
</div>
</div>

