
body {
  font-size: 16px;
  font-family: Helvetica, Arial;
  padding: 0em;
  margin: 0em;
}

.night {
  color: #e64533;
}

.view {
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
}

.view>div {
  position: relative;
  padding-top: 2em;
}

.status-bar {
  font-size: 1.5em;
  text-align: right; 
  background-color: rgba(0,0,0,.5); 
  position: absolute; 
  top: 0em; 
  right: 0em; 
  left: 0em; 
  height: 2em; 
  line-height: 2em; 
  padding: 0em 1em;
}

.status-bar>div {
  display: inline-block;
  padding: 0em .25em;
}

.background {
  background-size: cover;
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
}

.idle-shade {
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  background-color: rgba(0, 0, 0, 0);
  transition: all 5s ease;
  z-index: 9999;
  display: none;
}

.idle-shade-active {
  display: block;
  -webkit-animation:idleShadeActivate 2s forwards;
  -moz-animation:idleShadeActivate 2s forwards;
  animation:idleShadeActivate 2s forwards;
}

@-moz-keyframes idleShadeActivate {
  100% { background-color: rgba(0, 0, 0, .75); }
}
@-webkit-keyframes idleShadeActivate {
  100% { background-color: rgba(0, 0, 0, .75); }
}
@keyframes idleShadeActivate {
  100% { background-color: rgba(0, 0, 0, .75); }
}

.spin {
  display: inline-block;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-stop { 100% { -moz-transform: rotate(0deg); } }
@-webkit-keyframes-stop spin { 100% { -webkit-transform: rotate(0deg); } }
@keyframes spin-stop { 100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } }

.spin-stop {
  -webkit-animation: spin-stop 2s ease-out;
  -moz-animation: spin-stop 2s ease-out;
  animation: spin-stop 2s ease-out;
}

.bg-muted {
  background-color: #777;
}

.pointer {
  cursor: pointer;
}
.header {
  background-color: black;
  position: fixed;
  height: 3em;
  width: 100%;
  color: white;
  padding: 0em .5em;
  margin-top: -3em;
  z-index: 990;
}
.header-item {
  display: inline-block;
  line-height: 1.75em;
  height: 1.5em;
  white-space: nowrap;
  font-size: 2em;
}
.navigation-mobile {
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  width: 12em;
  background: #272b30;
  z-index: 1000;
  font-size: 1.5em;
}
.navigation-full {
  position: fixed;
  width: 12em;
  padding-top: 1em;
}
.navigation-shade {
  position: fixed;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
  background: black;
  z-index: 999;
  opacity: .8;
}

.navigation ul {
  list-style: none;
  padding-left: 0em;
  margin: 0em;
}

.navigation ul li {
  margin: .5em 0em;
  padding: .25em;
  padding-left: 1em;
}

@media (min-width: 768px) {
  .main-content {
    padding-left: 200px;
  }

  .navigation ul {
    list-style: none;
  }

  .navigation ul li {
    list-style: none;
    padding-left: 2em;
  }
}
.link:hover {
  text-decoration: underline;
}
.loading-shade {
  position: absolute;
  top: 3em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  background-color: #272b30;
  z-index: 980;
}
.loading-shade-message {
  position: absolute;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.messages {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0em;
  background-color: #333;
  border-top: 1px solid #222;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-left: .25em;
  text-shadow: 1px 1px 1px black;
  overflow: hidden;
  -webkit-transition: height 1s;
  transition: height .8s ease;
}

.messages.messages-active {
  height: 1.6em;
}

.select-list {
  overflow: auto;
  height: 8em;
  padding: .2em;
  border-radius: .1em;
  border: 1px solid #aaa;
}

.interface {
  position: absolute;
  top: 4em;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}


.notifications {
  font-size: 12px;
  position: fixed;
  right: 0em;
  top: 0em;
  width: 26em;
  bottom: 0em;
  background-color: #333;
  z-index: 10000;
  transition: all .25s ease-out;
  margin-right: -40em;
  overflow: auto;
}

.notifications-title {
  background-color: #222;
  font-size: 2em;
  padding: .25em 1em;
  border-bottom: 1px solid #444;
}

.notifications-footer {
  font-size: 2em;
  position: absolute;
  bottom: 0em;
  left: 0em;
  right: 0em;
  background-color: #222;
  padding: .25em 1em;
  border-bottom: 1px solid #444;
}

.notifications-footer>div {
  display: inline-block;
  padding: 0em .25em;
}

.notifications-list {
  list-style: none;
  padding: 0em;
}

.notifications-item {
  margin: 2em;
  background-color: #444;
  padding: 1.5em;
  border: 1px solid #555;
  border-radius: .2em .2em;
}
.notification-title {
  margin: 0em;
  padding: 0em;
  font-size: 1.5em;
}

.notifications-open {
  margin-right: 0em;
}


.notification-actions {
  font-size: 1.5em;
  text-align: right;
  margin-top: 1em;
}

.notification-date {
  font-size: .8em;
}

.notification-status {
  position: relative;
  cursor: pointer;
}

.notification-status-badge {
  font-size: .5em;
  position: absolute;
  border-radius: 1em;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 0em 0em .1em black;
  right: -.5em;
  bottom: .5em;
}

@media (min-width: 360px) {
  .interface {
    font-size: 7px;
  }
  .anav-drawer {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  .interface {
    font-size: 9px;
  }
  .anav-drawer {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .interface {
    font-size: 11px;
  }
  .anav-drawer {
    font-size: 14px;
  }
  .notifications {
    font-size: 14px;
  }
}

  #shade {
    background-color: #000;
    opacity: .7;
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
  }
  .anav-drawer {
    position: absolute;
    width: 20em;
    top: 0em;
    bottom: 0em;
    left: -22em;
    background-color: #333;
    z-index: 9999;
    box-shadow: 0em 0em 1em #000;
    transition: left .25s ease-out;
  }

  .anav-top {
    position: absolute;
    padding: 1em;
    height: 7em;
    top: 0em;
    left: 0em;
    right: 0em;
  }
  .anav-mid {
    position: absolute;
    bottom: 6em;
    top: 7em;
    left: 0em;
    right: 0em;
    overflow-y: auto;
    background-color: #444;
  }
  .anav-mid ul {
    list-style: none;
    padding: 0px;
  }
  .anav-mid ul li {
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
  }
  .anav-mid ul li:hover {
    background-color: #555;
  }
  .anav-bottom {
    background-color: #333;
    position: absolute;
    bottom: 0em;
    height: 6em;
    left: 0em;
    right: 0em;
  }
  .anav-bottom ul {
    list-style: none;
    padding: 0px;
  }
  .anav-bottom ul li {
    display: inline-block;
    width: 7.55em;
    font-size: 1.3em;
    padding: 1em;
    cursor: pointer;
    text-align: center;
  }
  .anav-bottom ul li:hover {
    background-color: #222;
  }
  .anav-shade {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .7;
    background-color: #000;
    z-index: 9998;
  }
  .anav-visible {
    left: 0em;
  }
  .anav-opener {
    cursor: pointer;
    z-index: 1000;
  }
  .anav {
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    z-index: 9999;
    background: transparent;
  }
  .loadingPage {
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    text-align: center;
    font-size: 3em;
    color: #aaa;
  }


.content {
  position: absolute;
  /* z-index: 10; */
}


.room_filter {
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  line-height: 1.7em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0em 0em .2em black;
  position: relative;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.room_filter.selected {
  background-color: #444;
  color: #ddd;
}

.room_filter .on-count {
  position: absolute;
  bottom: 1em;
  right: 3em;
  font-size: .4em;
  height: 1.75em;
  width: 1.75em;
  background-color: #333;
  color: #fff;
  border-radius: .9em;
  line-height: 1.7em;

}

.room-filter-offset {
  margin-top: -3.5em;

}


.on-ok {
  background-color: #00bc8c !important;
}

.on-danger {
  background-color: rgb(231, 76, 60) !important;
}


.room-icon {
  position: relative;
  height: 3em;
  width: 3em;
  border: .25em solid #444;
  border-radius: 1.5em;
  line-height: 2.5em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #222;
  transition: .5s ease;
  text-shadow: 0em 0em .2em black;
  cursor: pointer;
  color: #777;
  margin: 0em .1em;
  box-shadow: 0em 0em .2em black;
}

.room-icon.active {
  color: inherit;
}

.night .room-icon {
  border-color: #222;
  background-color: #111;
  color: #71180e;
}

.room-icon-temp {
  font-size: 1.3em;
  margin-top: .1em
}

.night .room-icon-temp {
  color: #e3301c;
}

.night .room-light .room-icon-temp {
  color: white;
  text-shadow: 0 0 .1em black;
}

.room-icon-display {
  position: absolute;
  top: -1.5em;
  left: 0em;
  right: 0em;
  text-align: center;
  font-size: .5em;
}

.room-icon-status {
  position: absolute;
  top: -.5em;
  font-size: .5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: #333;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0em 0em .3em black;
  opacity: 0;
  color: white;
  transition: .5s ease;
}

.room-icon-loading {
  left: -.5em;
}

.room-loading {
  opacity: .5;
}

.room-icon-error {
  color: gray;
  text-shadow: 0em 0em .2em #5b130b;
  right: -.5em;
}

.room-error {
  opacity: 1;
}

.room-icon-badge {
  position: absolute;
  bottom: -1em;
  font-size: .5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: #333;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0em 0em .3em black;
  opacity: 0;
  transition: .5s ease;
}

.night .room-icon-badge {
  color: #666;
}

.room-icon-openclose {
  left: -.4em;
}

.room-icon-fan {
  left: 1.66em;
}

.room-icon-conditioner {
  right: -.4em;
}

.room-light {
  background-color: #c27b0a !important;
}

.night .room-light {
  color: #fff;
}

.room-motion {
  border-color: #5a100c !important;
  box-shadow: 0em 0em .2em white;
  border-color: #fff !important;
  box-shadow: inset 0em 0em .2em black;
}

.room-openclose {
  background-color: rgb(231, 76, 60);
  font-weight: bold;
  opacity: 1;
}

.night .room-openclose {
  background-color: #5a100c;
  color: white;
}

.room-fan {
  background-color: #00805f;
  opacity: 1;
}

.night .room-fan {
  color: white;
}

.room-heat {
  background-color: rgb(231, 76, 60);
  opacity: 1;
}

.night .room-heat {
  color: white;
}

.room-cool {
  background-color: #3498DB;
  opacity: 1;
}


.night .room-cool {
  color: white;
}

.room-cameras {

}

.room-cameras-controls {
  text-shadow: 0em 0em .2em black;
  top: 40%; cursor:
  pointer;
  font-size: 4em;
  position: absolute;
  right: 0em;
  opacity: .7
  display: inline-block;
}

.room-cameras-refresh {
  position: absolute;
  text-align: center;
  text-shadow: 0em 0em .2em black;
  font-size: 4em;
  top: 1em;
  opacity: .3;
  left: 40%;
  right: 40%;
  cursor: pointer;
}

.room-cameras-controls.previous {
  left: 0em;
  width: 1em;
}

.room-cameras-controls.next {
  right: 0em;
  width: 1em;
}

.room-cameras-controls.play {
  left: 40%;
  right: 40%;
  text-align: center;
  font-size: 5.5em;
  opacity: .3;
}




.section-nav {
  list-style: none;
  padding: 0px;
  width: 100%;
}


.section-nav li {
  cursor: pointer;
  padding: .25em;
}

.section-nav li.active {
  background-color: #375A7F;
}


.section-nav li:hover {
  background-color: #444;
}



.section-nav li:hover.active {
  background-color: #375A7F;
}



.controller {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1.25em;
  margin-left: .25em;
  margin-right: .25em;
}
.controller-icon {
  height: 3em;
  width: 3em;
  border: .25em solid #444;
  border-radius: 1.5em;
  line-height: 2.5em;
  text-align: center;
  background-color: #222;
  transition: 1s ease;
  text-shadow: 0em 0em .2em black;
  cursor: pointer;
  color: #777;
  margin: 0em .1em;
  box-shadow: 0em 0em .2em black;
}
.controller-title {
  font-size: .5em;
  position: absolute;
  bottom: -1.5em;
  left: 0em;
  right: 0em;
  text-align: center;
  white-space: nowrap;
}


.controller-status {
  position: absolute;
  top: 0em;
  right: 0em;
  font-size: .5em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  background-color: #333;
  border-radius: 1em;
  text-align: center;
  text-shadow: 0em 0em .3em black;
  color: white;
  opacity: .5;
  transition: .5s ease;
}

 .controller-cool {
    background-color: rgba(0, 172, 230, 255);
    color: white;
 }

 .controller-heat {
   background-color: rgba(231, 76, 60, 255);
   color: white;
 }

 .controller-on {
   background-color: rgba(194, 123, 10, 1000);
   color: white;
 }

 .controller-pending {
    background-color: rgba(194, 123, 10, 0);
    animation: bg-pulse 2s linear infinite;
 }

 .controller-success {
   background-color: rgba(0, 188, 140, 255);
   color: white;
 }

 .controller-failed {
   background-color: rgba(231, 76, 60, 255)
 }

  @keyframes bg-pulse {
    0% { background-color: rgba(194, 123, 10, 0); }
    50% { background-color: rgba(194, 123, 10, 100); }
    100% { background-color: rgba(194, 123, 10, 0); }
  }

.interface-list {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

.interface-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: .25em;
  height: 3em;
  width: 3em;
  border: .25em solid #444;
  border-radius: 1.5em;
  line-height: 2.5em;
  text-align: center;
  background-color: #222;
  transition: 1s ease;
  text-shadow: 0em 0em .2em black;
  cursor: pointer;
  color: #777;
  box-shadow: 0em 0em .2em black;
  cursor: pointer;
}

.interface-link-active {
  border-color: #fff !important;
}

.interface-top {
  font-size: .5em;
  line-height: 1em;
  height: 25%;
  padding-top: .25em;
}

.interface-middle {
  line-height: 1.2em;
  height: 50%;
}

.interface-bottom {
  line-height: 1em;
  height: 25%;
  font-size: .5em;
}

.alarm-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
  height: 10em;
  width: 10em;
  border: .25em solid #444;
  border-radius: 5em;
  line-height: 1em;
  text-align: center;
  padding-top: .8em;
  background-color: #222;
  transition: 1s ease;
  text-shadow: 0em 0em .2em black;
  cursor: pointer;
  color: #777;
  box-shadow: 0em 0em .2em black;
  cursor: pointer;
}

.alarm-link.alarm-enabled {
  background-color: #c27b0a !important;
  color: white;
}

.alarm-weekdays {
  position: absolute;
  left: -.75em;
  bottom: -.5em;
  height: 1.5em;
  width: 11em
}

.alarm-time {
  font-size: 3em;
  line-height: 1em;
  padding-top: .25em;
}

.alarm-time-add {
  font-size: 4em;
  line-height: 1em;
  padding-top: .5em;
}

.alarm-day {
  display: inline-block;
  background-color: rgb(100, 100, 100);
  color: white;
  width: 1.5em;
  height: 1.5em;
  padding-top: .1em;
  border-radius: 1em;
  font-size: .8em;
  text-align: center;
}

.alarm-day-active {
  background-color: #00805f;
}

.epochtime {
  font-size: .9em;
}
.epochtime>div {
  display: inline-block;
  vertical-align: middle;
  height: 6em;
  width: 2em;
}
.epochtime-days input, .epochtime-hours input, .epochtime-minutes input, .epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  width: 2em;
  height: 2em;
  text-align: center;
}
.epochtime-days button, .epochtime-hours button, .epochtime-minutes button {
  border: 0px;
  background-color: inherit;
}
.epochtime-meridian, .epochtime-label {
  padding-top: 2em;
  width: 1em !important;
  text-align: center;
}
.epochtime-meridian button {
  width: 3em;
  height: 2em;
  text-align: center;
  background-color: #464545;
}
.events {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: auto;
}

.icon-selector {
  overflow: auto;
  max-height: 6em;
}
.icon-selector ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.icon-selector ul li {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 1px solid #666;
  overflow: hidden;
  line-height: 2em;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  text-shadow: 0px 0px 1px black;
  margin: 2px;
  background-color: rgb(50, 56, 62);
}

.icon-selector ul li.icon-selected {
  background-color: rgba(0, 188, 140, 255);
}




.insteon-types {
  list-style: none;
  padding: 0px;
}
.insteon-types li {
  display: inline-block;
  height: 5em;
  width: 5em;
  border: 1px solid #aaa;
  text-align: center;
  margin: .5em;
  border-radius: .2em;
  cursor: pointer;
}

.insteon-types li.active {
  background-color: ;
}


.pin-entry-key {
  text-align: center;
  height: 3em; 
  width: 3em; 
  border-radius: 1.5em;
  background-color: #333; 
  color: #eee;
  border: 1px solid #aaa; background-color: #333; 
  margin: .25em;
}

.pin-entry-key-disabled {
  color: #666;
  background-color: #444; 
}

.pin-entry-key-submit {
  background-color: #4ab9db; 
}

.pin-entry-key-danger {
   background-color: rgb(231, 76, 60);
}

.tag-list {
  position: relative;
  border: 1px solid #222; 
  border-radius: .2em; 
  padding: 0em; 
  overflow: hidden;
  width: 100%;
}
.tag-list-add {
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  width: 3em;
  background-color: #333;
  text-align: center;
}
.tag-list-tags {
  position: relative;
  margin-left: 3em;
  background-color: #fff;
  min-height: 2em;
  padding: .25em;
  word-wrap: break-word;
}

.tag-list-tag {
  display: inline-block;
  background-color: #777;
  color: #fff;
  font-size: .75em;
  padding: .2em 1em;
  margin: .125em .125em;
  border-radius: .25em;
}