<div ng-controller="radEdit">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
  </div>
  <div class="form-group">
    <label for="name">Address</label>
    <input type="text" class="form-control" id="address" placeholder="Address" required="" ng-model="device.config.address">
  </div>

  <div class="form-group">
    <label for="enabled">Default Interface: </label>
    <select class="form-control" ng-model="device.config.interface" ng-options="iface._id as iface.name for iface in interfaces | orderBy:'name'"></select>
  </div>

  <div class="form-group">
    <label for="enabled">Show events in Browser: </label>
    <toggle value="device.config.show_events" class="pull-right"></toggle>
  </div>

  <div class="form-group">
    <label for="enabled">Dim Display: </label>
    <toggle value="device.config.dim_display" class="pull-right"></toggle>
  </div>

  <div class="form-group" ng-show="device.config.dim_display">
    <label for="enabled">Dim After: </label>
    <rzslider rz-slider-model="device.config.dim_after" rz-slider-options="{floor: 0, ceil: 120, step: 5, hideLimitLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
  </div>

  <div class="form-group">
    <label for="enabled">Night Mode (changes text to red at night): </label>
    <toggle value="device.config.night_mode" class="pull-right"></toggle>
  </div>

  <div class="form-group">
    <label for="enabled">Show Date: </label>
    <toggle value="device.config.show_date" class="pull-right"></toggle>
  </div>

  <div class="form-group">
    <label for="enabled">Show Weather: </label>
    <toggle value="device.config.show_weather" class="pull-right"></toggle>
  </div>

  <div class="form-group">
    <label>Minimum Brightness: </label>
    <rzslider rz-slider-model="device.config.display.min_brightness" rz-slider-options="{floor: 0, ceil: 100, hideLimitLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
  </div>

  <div class="form-group">
    <label for="enabled">Put Display Sleep: </label>
    <toggle value="device.config.display.sleep" class="pull-right"></toggle>
  </div>

  <div class="form-group" ng-show="device.config.display.sleep">
    <label for="enabled">Sleep after (sec): </label>
    <rzslider rz-slider-model="device.config.display.wake_timer" rz-slider-options="{floor: 0, ceil: 120, step: 5, hideLimitLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
  </div>

  <div class="form-group">
    <label for="enabled">DHT Sensor: </label>
    <select class="form-control" ng-model="device.config.display.dht_sensor" ng-options="sensor as sensor for sensor in dht_sensors"></select>
  </div>

  <div class="form-group" ng-show="device.config.display.dht_sensor">
    <label for="enabled">DHT GPIO Pin: </label>
        <rzslider rz-slider-model="device.config.display.dht_pin" rz-slider-options="{floor: 0, ceil: 27, hideLimitLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
  </div>

  <div class="form-group">
    <label for="enabled">Light GPIO Pin: </label>
    <rzslider rz-slider-model="device.config.display.light_pin" rz-slider-options="{floor: 0, ceil: 27, hideLimitLabels: true}" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
  </div>

  <div class="form-group">
    <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="editDevice.$invalid"><i class="icon-savetodrive"></i> Save</button>
    <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
  </div>
</div>