
  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Triggers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          <div class="input-group" ng-hide="loading">
            <input type="text" class="form-control" id="name" placeholder="Search" ng-model="search" autocomplete='off'>
            <div class="input-group-addon"><i class="icon-search"></i></div>
          </div>
        </p>
        <h4 ng-show="loading"><i class="icon-refresh spin"></i> Loading...</h4>
        <ul class="list-group" ng-hide="loading">
          <li class="list-group-item" style="cursor: pointer;" ng-repeat="trigger in triggers | filter: search | orderBy: '+name'" ng-click="edit(trigger)">
            {{trigger.name}}<button class="pull-right btn btn-xs btn-danger" ng-click="remove(trigger)" stop-event><i class="icon-trash"></i></button>
            <div style="font-size: .8em;" class="text-muted" ng-class="{'strike-through': !trigger.enabled}">
              <span ng-show="trigger.match">{{trigger.match_type | capitalize}} is
                <span ng-show="trigger.match_type == 'time'">{{trigger.match | time}} during </span>
                <span ng-show="trigger.match_type == 'date'">{{trigger.match | date: 'EEE MMM d, yyyy'}} during </span>
                <span ng-show="trigger.match_type == 'device'">{{trigger.match}} from </span>
                <span ng-show="trigger.match_type == 'string'">{{trigger.match}} from </span>
                <span ng-show="trigger.match_type == 'number'">{{trigger.match}} from </span>
              </span>
              {{trigger.trigger}} Event
            </div>
            <div style="font-size: .7em" class="text-muted" ng-show="trigger.tags.length > 0"><i class="icon-tag"></i>
              <span ng-repeat="tag in trigger.tags" style="margin-right: 1em;">{{tag}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-success img-circle " style="position: fixed; bottom: 1.5em; right: 1.5em; font-size: 1.5em; height: 2.5em; width: 2.5em; text-align: center; box-shadow: .2em .2em .3em black; line-height: 2.7em; font-weight: bold; cursor: pointer;" ui-sref="main.triggers.add"><i class="icon-plus"></i></button>
