  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Add Trigger
           <div class="pull-right pointer"  ui-sref="^.list"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-3" style="position: relative">
                <ul class="section-nav">
                  <li ng-click="section='general'" ng-class="{active: section == 'general'}">General</li>
                  <li ng-click="section='conditions'" ng-class="{active: section == 'conditions'}">Conditions</li>
                  <li ng-click="section='notifications'" ng-class="{active: section == 'notifications'}">Notifications</li>
                  <li ng-click="section='delay'" ng-class="{active: section == 'delay'}">Delay</li>
                  <li ng-click="section='actions'" ng-class="{active: section == 'actions'}">Actions</li>
                  <li ng-click="section='duration'" ng-class="{active: section == 'duration'}">Duration</li>
                </ul>
              </div>
              <div class="col-sm-9 col-xs-12">

                <form name="edit">
                  <div ng-show="section=='general'">
                    <div class="form-group">
                      <label for="enabled">Enabled: </label>
                      <toggle value="trigger.enabled" class="pull-right"></toggle>
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="trigger.name">
                    </div>
                    <div class="form-group">
                      <label for="trigger">Trigger<span ng-show="trigger.trigger">: {{trigger.trigger}}</span></label>

                      <div>
                      <ul class="list-group bg-muted select-list">
                        <li class="list-group-item" style="cursor: pointer;" ng-repeat="t in trigger_types | orderBy: '+name'" ng-click="trigger.trigger = t.name" ng-class="{'list-group-item-success': trigger.trigger == t.name}">
                          {{t.name}}
                        </li>
                      </ul>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="trigger">Match<span ng-show="trigger.match_type">: {{trigger.match_type}}<span ng-show="trigger.match_type == 'device' && trigger.match">.{{trigger.match}}</span></span></label>
                    </div>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-6">

                          <div class="form-group">
                            <ul class="list-group bg-muted select-list" >
                              <li class="list-group-item" style="cursor: pointer;" ng-repeat="t in match_types" ng-click="changeType(t.value)" ng-class="{'list-group-item-success': trigger.match_type == t.value}">
                                <i class="{{t.icon}}"></i> {{t.name}}
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-sm-6">

                          <div class="form-group">
                            <div ng-show="trigger.match_type == 'device'">
                              <div ng-show="devices_loading"><i class="icon-loadingalt spin"></i> Loading...</div>
                              <ul class="list-group bg-muted select-list" ng-hide="devices_loading">
                                <li class="list-group-item" style="cursor: pointer;" ng-repeat="device in devices | orderBy: '+name'" ng-click="changeDevice(device)" ng-class="{'list-group-item-success': trigger.match == device.name}">
                                  {{device.name}}
                                </li>
                              </ul>
                            </div>

                            <div ng-show="trigger.match_type == 'room'">
                              <div ng-show="rooms_loading"><i class="icon-loadingalt spin"></i> Loading...</div>
                              <ul class="list-group bg-muted select-list" ng-hide="rooms_loading">
                                <li class="list-group-item" style="cursor: pointer;" ng-repeat="room in rooms | orderBy: '+name'" ng-click="changeRoom(room)" ng-class="{'list-group-item-success': trigger.match == room.name}">
                                  {{room.name}}
                                </li>
                              </ul>
                            </div>

                            <div ng-show="trigger.match_type == 'scene'">
                              <div ng-show="scenes_loading"><i class="icon-loadingalt spin"></i> Loading...</div>
                              <ul class="list-group bg-muted select-list" ng-hide="scenes_loading">
                                <li class="list-group-item" style="cursor: pointer;" ng-repeat="scene in scenes | orderBy: '+name'" ng-click="changeScene(scene)" ng-class="{'list-group-item-success': trigger.match == scene.name}">
                                  {{scene.name}}
                                </li>
                              </ul>
                            </div>

                            <div ng-show="trigger.match_type == 'time'" style="padding-left: 1em;">
                              <epochtime time="trigger.match" disabled="{{trigger.match_type != 'time'}}"></epochtime>
                            </div>

                            <div ng-show="trigger.match_type == 'string'" style="padding-left: 1em;">
                              <input type="text" class="form-control" id="match" placeholder="String" required="" ng-model="trigger.match">
                            </div>

                            <div ng-show="trigger.match_type == 'number'" style="padding-left: 1em;">
                              <input type="text" class="form-control" id="match" placeholder="Number" required="" ng-model="trigger.match">
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Icon</label>
                      <icon-selector value="trigger.icon" />
                    </div>
                    <div class="form-group">
                      <label for="name">Tags</label>
                      <tags tag-model="trigger.tags" />
                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="add()" ng-disabled="editTrigger.$invalid"><i class="icon-savetodrive"></i> Add</button>
                      <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="state.go('^')">Cancel</button>
                    </div>

                  </div>

                  <div ng-show="section=='conditions'">

                    <div class="form-group">
                      <label for="trigger">Conditions</label>
                      <button class="btn btn-default btn-xs pull-right" ng-click="conditions.addCondition(trigger.conditions)"><i class="icon-plus-sign"></i> Add</button>

                      <div class="well well-sm" ng-show="trigger.conditions.length === 0">No Conditions Added</div>
                      <conditions value="trigger.conditions" name="conditions"></conditions>

                      <div class="form-group">
                        <label for="enabled">Match All: </label>
                        <toggle value="trigger.match_all" class="pull-right"></toggle>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="add()" ng-disabled="editTrigger.$invalid"><i class="icon-savetodrive"></i> Add</button>
                      <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="state.go('^')">Cancel</button>
                    </div>

                  </div>

                  <div ng-show="section=='notifications'">

                    <div class="form-group">
                      <label for="name">Notifications</label>
                      <button class="btn btn-xs btn-primary pull-right" ng-click="add_notification()"><i class="icon-circleadd"></i></button>
                      <h4 ng-show="loading"><i class="icon-refresh spin"></i> Loading...</h4>
                      <div class="well well-sm" ng-show="!notifications || notifications.length == 0">No notifications added</div>
                      <ul class="list-group" ng-hide="loading || notifications.length == 0">
                        <li class="list-group-item" ng-repeat="notification in notifications | orderBy: 'name'">
                          {{notification.name}}
                          <button class="btn btn-xs btn-danger pull-right" ng-click="remove_notification(notification)"><i class="icon-circledelete"></i></button>
                        </li>
                      </ul>
                    </div>
                    
                  </div>

                  <div ng-show="section=='delay'">

                    <div class="form-group">
                      <label for="trigger">Delay (DD:HH:MM)</label>
                      <toggle value="delay" class="pull-right"></toggle>

                      <div class="form-group" style="padding-left: 1em;" ng-show="delay">
                        <epochduration time="trigger.delay.time"></epochduration>
                      </div>

                      <div class="form-group" style="padding-left: 1em;" ng-show="delay">
                        <toggle value="trigger.delay.force"></toggle>
                        <small>Force Condition Check after Delay</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="add()" ng-disabled="editTrigger.$invalid"><i class="icon-savetodrive"></i> Add</button>
                      <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="state.go('^')">Cancel</button>
                    </div>

                  </div>

                  <div ng-show="section=='actions'">

                    <div class="form-group">
                      <label for="trigger">Actions</label>
                      <button class="btn btn-default btn-xs pull-right" ng-click="addAction(trigger.actions)"><i class="icon-plus-sign"></i> Add</button>
                      <div class="well well-sm" ng-show="trigger.actions.length === 0">No Actions Added</div>
                      <div>
                        <ul class="list-group bg-muted select-list" ng-show="trigger.actions.length > 0">
                          <li class="list-group-item" style="cursor: pointer;" ng-repeat="action in trigger.actions" ng-click="editAction(action)">
                            {{action.name}}
                            <button class="pull-right btn btn-xs btn-danger" ng-click="removeAction(trigger.actions, $index)" stop-event><i class="icon-trash"></i></button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="add()" ng-disabled="editTrigger.$invalid"><i class="icon-savetodrive"></i> Add</button>
                      <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="state.go('^')">Cancel</button>
                    </div>

                  </div>

                  <div ng-show="section=='duration'">

                    <div class="form-group">
                      <label for="trigger">Duration (DD:HH:MM)</label>
                      <toggle value="duration" class="pull-right"></toggle>

                      <div class="form-group" style="padding-left: 1em;" ng-show="duration">
                        <epochduration time="trigger.duration.time"></epochduration>
                      </div>

                      <div class="form-group" style="padding-left: 1em;" ng-show="duration">
                        <label for="trigger"><small>Actions</small></label>
                        <button class="btn btn-default btn-xs pull-right" ng-click="addAction(trigger.duration.actions)"><i class="icon-plus-sign"></i> Add</button>
                        <div class="well well-sm" ng-show="trigger.duration.actions.length === 0">No Actions Added</div>
                        <ul class="list-group bg-muted select-list" ng-show="trigger.duration.actions.length > 0">
                          <li class="list-group-item" style="cursor: pointer;" ng-repeat="action in trigger.duration.actions" ng-click="editAction(action)">
                            {{action.name}}
                          <button class="pull-right btn btn-xs btn-danger" ng-click="removeAction(trigger.duration.actions, $index)" stop-event><i class="icon-trash"></i></button>
                          </li>
                        </ul>
                      </div>

                      <div class="form-group" style="padding-left: 1em;" ng-show="duration">
                        <label for="trigger"><small>Triggers</small></label>
                        <button class="btn btn-default btn-xs pull-right" ng-click="addAction(trigger.duration.triggers)"><i class="icon-plus-sign"></i> Add</button>
                        <div class="well well-sm" ng-show="trigger.duration.triggers.length === 0">No Triggers Added</div>
                        <ul class="list-group bg-muted select-list" ng-show="trigger.duration.triggers.length > 0">
                          <li class="list-group-item" style="cursor: pointer;" ng-repeat="trigger in trigger.duration.triggers" ng-click="editTrigger(trigger)">
                            {{trigger.name}}
                          </li>
                        </ul>
                      </div>

                    </div>
                    <div class="form-group">
                      <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="add()" ng-disabled="editTrigger.$invalid"><i class="icon-savetodrive"></i> Add</button>
                      <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="state.go('^')">Cancel</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
