  <div class="container-fluid bg-muted" style="padding-bottom: 2em;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
        <h2>Devices</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>
          <div class="input-group" ng-hide="loading">
            <input type="text" class="form-control" id="name" placeholder="Search" ng-model="search" autocomplete='off'>
            <div class="input-group-addon"><i class="icon-search"></i></div>
          </div>
        </p>
        <h4 ng-show="loading"><i class="icon-refresh spin"></i> Loading...</h4>
        <ul class="list-group" ng-hide="loading">
          <li class="list-group-item" style="cursor: pointer;" ng-click="view(device)" ng-repeat="device in devices | filter: search | orderBy: '+name'">
            <i class="{{device.icon}}" ng-show="device.icon"></i>
            <span ng-hide="device.icon">
            <i class="icon-fan" ng-show="has_capability(device, 'fan')"></i>
            <i class="icon-videocamerathree" ng-show="has_capability(device, 'camera')"></i>
            <i class="icon-lightbulb-idea" ng-show="has_capability(device, 'light')"></i>
            <i class="icon-monitor" ng-show="has_capability(device, 'display')"></i>
            <i class="fi-window" ng-show="has_capability(device, 'window')"></i>
            <i class="fi-door-open" ng-show="has_capability(device, 'door')"></i>
            <i class="fi-motion" ng-show="has_capability(device, 'motion_sensor')"></i>
            <i class="icon-temperaturealt-thermometeralt" ng-show="has_capability(device, 'conditioner')"></i>
            <i class="wi wi-day-snow-thunderstorm" ng-show="has_capability(device, 'weather')"></i>
            <i class="icon-browser" ng-show="has_capability(device, 'browser')"></i>
            <i class="glyphicon glyphicon-bullhorn" ng-show="has_capability(device, 'siren')"></i>
            <i class="icon-lockalt-keyhole" ng-show="has_capability(device, 'lock')"></i>
            </span>
            {{device.name}}<div class="pull-right" style="margin-left: .5em; margin-top: -.25em"> <button class="btn btn-xs btn-default" ng-click="edit(device)" stop-event><i class="icon-edit"></i></button></div> <span class="badge">{{device._rooms.length}} <i class="glyphicon glyphicon-modal-window"></i></span>
            <div style="font-size: .7em" class="text-muted" ng-show="device.tags.length > 0"><i class="icon-tags"></i>
              <span ng-repeat="tag in device.tags" style="margin-right: 1em;">{{tag}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-success img-circle " style="position: fixed; bottom: 1.5em; right: 1.5em; font-size: 1.5em; height: 2.5em; width: 2.5em; text-align: center; box-shadow: .2em .2em .3em black; line-height: 2.7em; font-weight: bold; cursor: pointer;" ui-sref="main.devices.add"><i class="icon-plus"></i></button>
