
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
</div>
<div class="form-group">
  <label for="name">Location</label>
  <input type="text" class="form-control" id="location" placeholder="Location" required="" ng-model="device.config.location">
</div>
<div class="form-group">
  <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="editDevice.$invalid"><i class="icon-savetodrive"></i> Save</button>
  <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
</div>
