<div style="width: 240px;" class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<h1 class="text-center" style="font-size: 5em;"><i class="wi {{weather.icon}}"></i></h1>
			</div>
			<div class="col-xs-6">
				<h3>
					{{weather.temperature}}&deg;
				</h3>
				<h5><i class="wi wi-thermometer"></i> {{weather.temp_low}}/{{weather.temp_high}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3 text-center"><i class="wi wi-wind-direction" ng-style="wind_degrees"></i><br/>{{weather.wind}}  </div>
					<div class="col-xs-3 text-center"><i class="wi wi-humidity"></i><br/>{{weather.humidity}}</div>
					<div class="col-xs-3 text-center"><i class="wi wi-barometer"></i><br/><span style="white-space: nowrap">{{weather.pressure}}<i class="wi" ng-class="{'wi-direction-up-right': weather.pressure_trend == '+', 'wi-direction-down-right': weather.pressure_trend == '-', 'wi-direction-right': weather.pressure_trend == '='}"></i></span></div>
					<div class="col-xs-3 text-center"><i class="wi wi-umbrella"></i><br/>{{weather.rain}}</div>
				</div>
			</div>
		</div>
		<div>&nbsp;</div>
		<div class="row well well-sm text-center">
			<div class="col-xs-12 text-left"><button class="btn btn-xs btn-link" ng-click="show_forecast='daily'">Daily</button> - <button class="btn btn-xs btn-link" ng-click="show_forecast='hourly'">Hourly</button></div>
			<div class="col-xs-4" ng-show="show_forecast=='daily'">
				<h4><i class="wi {{forecast[0].icon}}"></i></h4>
				<h5>{{forecast[0].temp_low}}/{{forecast[0].temp_high}}</h5>
				<h6><b>{{forecast[0].day}}</b></h6>
			</div>
			<div class="col-xs-4" ng-show="show_forecast=='daily'">
				<h4><i class="wi {{forecast[1].icon}}"></i></h4>
				<h5>{{forecast[1].temp_low}}/{{forecast[1].temp_high}}</h5>
				<h6><b>{{forecast[1].day}}</b></h6>
			</div>
			<div class="col-xs-4" ng-show="show_forecast=='daily'">
				<h4><i class="wi {{forecast[2].icon}}"></i></h4>
				<h5>{{forecast[2].temp_low}}/{{forecast[2].temp_high}}</h5>
				<h6><b>{{forecast[2].day}}</b></h6>
			</div>
			<div class="col-xs-1 text-center" ng-show="show_forecast=='hourly'">
				<h5>&nbsp;</h5>
				<h6><i class="wi wi-thermometer"></i></h6>
				<h6><i class="wi wi-umbrella"></i></h6>
				<h6><i class="wi wi-time-1"></i></b></h6>
			</div>
			<div class="col-xs-2 text-center" ng-show="show_forecast=='hourly'">
				<h5><i class="wi {{hourly[0].icon}}"></i></h5>
				<h6>{{hourly[0].temp}}</h6>
				<h6>{{hourly[0].rain}}</h6>
				<h6><b>{{hourly[0].hour}}</b></h6>
			</div>
			<div class="col-xs-2 text-center" ng-show="show_forecast=='hourly'">
				<h5><i class="wi {{hourly[1].icon}}"></i></h5>
				<h6>{{hourly[1].temp}}</h6>
				<h6>{{hourly[1].rain}}</h6>
				<h6><b>{{hourly[1].hour}}</b></h6>
			</div>
			<div class="col-xs-2 text-center" ng-show="show_forecast=='hourly'">
				<h5><i class="wi {{hourly[2].icon}}"></i></h5>
				<h6>{{hourly[2].temp}}</h6>
				<h6>{{hourly[2].rain}}</h6>
				<h6><b>{{hourly[2].hour}}</b></h6>
			</div>
			<div class="col-xs-2 text-center" ng-show="show_forecast=='hourly'">
				<h5><i class="wi {{hourly[3].icon}}"></i></h5>
				<h6>{{hourly[3].temp}}</h6>
				<h6>{{hourly[3].rain}}</h6>
				<h6><b>{{hourly[3].hour}}</b></h6>
			</div>
			<div class="col-xs-2 text-center" ng-show="show_forecast=='hourly'">
				<h5><i class="wi {{hourly[4].icon}}"></i></h5>
				<h6>{{hourly[4].temp}}</h6>
				<h6>{{hourly[4].rain}}</h6>
				<h6><b>{{hourly[4].hour}}</b></h6>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-muted"><small><i ng-class="{'spin': loading, 'icon-circleselection': loading, 'text-danger': error, 'icon-erroralt': error, 'icon-ok-circle': !error && !loading}"></i> {{weather.observation | date: 'short'}}</small></div>
		</div>
</div>