<div style="width: 240px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
      	<h4>Brightness</h4>
      	<rzslider rz-slider-model="slider.level" rz-slider-options="slider.options" rz-slider-tpl-url="vendor/angularjs-slider/src/rzSliderTpl.html"></rzslider>
      	<div>&nbsp;</div>
      </div>
    </div>
    <div class="row">
    	<div class="col-xs-6 text-center"><i class="glyphicon glyphicon-cog pointer" ui-sref="main.settings.client" ></i></div>
    	<div class="col-xs-6 text-center"><i class="glyphicon glyphicon-off pointer" uib-popover-template="'views/welcome/power.html'" popover-trigger="'outsideClick'" popover-placement="bottom-right"></i></div>
    </div>
  </div>
</div>