<div class="view" ui-view>

</div>
<div class="anav-shade" ng-click="anav_open = false; notifications.hidden = true" ng-show="anav_open || !notifications.hidden"></div>

<div class="anav-drawer" ng-class="{'anav-visible': anav_open}">
	<div class="anav-opener">

	</div>
	<div class="anav-top">

	    <div class="row">
	      <div class="col-xs-4"><img src="./images/home.png" style="height: 5em;"></div>
	      <div class="col-xs-8" style="text-align: right">

	<div class="btn-group" uib-dropdown is-open="status.isopen">
	  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
	    <i class="icon-monitor"></i> Interface <span class="caret"></span>
	  </button>
	  <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
	    <li role="menuitem" ng-repeat="interface in interfaces | orderBy: '+name'" ui-sref="main.home({interface: interface.name})" ><a href="#"ng-click="anav_open=false"><i class="{{interface.icon}}"></i> {{interface.name}}</a></li>
	  </ul>
	</div>

	      </div>
	    </div>

	</div>
	<div class="anav-mid">
	  <ul>
	    <li ui-sref="main.home" ng-click="anav_open=false"><i class="glyphicon glyphicon-home"></i> Home</li>
	    <li ui-sref="main.rooms" ng-click="anav_open=false"><i class="glyphicon glyphicon-modal-window"></i> Rooms</li>
	    <li ui-sref="main.devices" ng-click="anav_open=false"><i class="glyphicon glyphicon-oil"></i> Devices</li>
	    <li ui-sref="main.scenes" ng-click="anav_open=false"><i class="icon-picture"></i> Scenes</li>
      <li ui-sref="main.notifications" ng-click="anav_open=false"><i class="icon-flag"></i> Notifications</li>
	    <li ui-sref="main.triggers" ng-click="anav_open=false"><i class="icon-bomb"></i> Triggers</li>

	  </ul>
	</div>
	<div class="anav-bottom">
	  <ul>
	    <li ui-sref="main.settings" ng-click="anav_open=false"><i class="glyphicon glyphicon-cog"></i> Settings</li>
	    <li class="text-right" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</li>
	  </ul>
	</div>
</div>

<div style="position: absolute; z-index: 1000; font-size: 3em;">
</div>
<div class="status-bar" ng-class="{night: time.is.night && client.night_mode}">
	<div class="anav-opener  text-muted pull-left"  ng-click="anav_open = true"><i class="icon-menu"></i></div>
	<div ng-show="client.show_date">{{date | date:'EEE, MMM d'}}</div>
	<div class="pointer" ng-class="{'text-success': root.status.connected, 'text-danger': !root.status.connected}" uib-tooltip-template="'views/main/event_status.html'" tooltip-placement="bottom-right" tooltip-trigger="'click'"><i ng-class="{'icon-plug': !root.status.connected, 'icon-networksignal': root.status.connected}"></i></div>
	<notifications-status></notifications-status>
</div>
<notifications></notifications>
