<div class="modal-body text-center">
<div style="width: 100%; border-radius: .25em;  border: 1px solid #aaa; background-color: #333; padding: .25em; height: 2em" ng-class="{'text-danger': error, 'text-muted': !error && !success, 'text-succes': success}">
<i ng-repeat="k in pin track by $index" style="margin: .25em;" class="icon-circlerecord "></i>
</div>
<div>&nbsp;</div>
<div>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(1)">1</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(2)">2</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(3)">3</button>
</div>
<div>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(4)">4</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(5)">5</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(6)">6</button>
</div>
<div>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(7)">7</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(8)">8</button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(9)">9</button>
</div>
<div>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry('back')"><i class="icon-chevron-left"></i></button>
	<button style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="entry(0)">0</button>
	<button class="btn-primary" style="height: 3em; width: 3em; border-radius: 1.5em; border: 1px solid #aaa; background-color: #333; margin: .25em;" ng-click="unlock()">
		<i class="icon-unlock" ng-hide="checking"></i>
		<i class="icon-circleselection spin" ng-show="checking"></i>
	</button>
</div>
</div>