<div class="modal-header">
    <h4 class="modal-title">Server Error</h4>
</div>
<div class="modal-body">
  <div class="container-fluid">
    The server seems to have gone away.  You can either retry and select another server.
  </div>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="retry()"><i class="icon-refresh"></i> Retry</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="select()"><i class="icon-server"></i> Select Another</button>
</div>
