<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div>&nbsp;</div>
    <div class="row well">
      <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-0">
        <img src="images/home.png"  class="img-responsive img-rounded">
      </div>

      <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0" ng-hide="checking">
        <p class="text-center"><strong>Connect to an Abode Server</strong></p>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-danger" ng-show="sources.length == 0 && !loading" ng-click="load()"><i class="icon-exclamation-sign text-danger"></i> Unable to detect any Abode servers. Specify an address manually below or click here to retry</button>
          <button type="button" class="list-group-item" ng-repeat="source in sources" ng-click="connect(source)"><i class="icon-home"></i> {{source.name}} <span ng-show="source.mode == 'device'">(Setup as New Server)</span></button>
          <button type="button" class="list-group-item" disabled ng-show="loading"><i class="icon-circleselection spin "></i> Searching of servers...</button>
          <button type="button" class="list-group-item" ng-show="!loading && sources.length > 0" ng-click="load()"><i class="icon-ok-sign text-success"></i> Found {{sources.length}} Server[s]<div><small>Click to search again.</small></div></button>
        </div>
        <p class="text-center"><strong>- or -</strong></p>
        <form name="manualFrm">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Specify Manually" ng-model="manual">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="connect(manual)">Go!</button>
            </span>
          </div>
        </form>

      </div>
      <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0" ng-show="checking">
        <p class="text-center"><strong>Please wait...</strong></p>
        <div class="list-group">
          <button type="button" class="list-group-item" disabled ><i class="icon-circleselection spin"></i> Checking Connection</button>
          <button type="button" class="list-group-item list-group-item-warning" ng-click="cancel_check">Cancel</button>
        </div>
      </div>

    </div>

  </div>
</div>
