<div class="controller" ng-mousedown="start()" ng-mouseup="stop()">
  <div class="controller-icon" ng-class="{'controller-pending': pending || obj._state == 'pending', 'controller-success': success, 'controller-failed': failed, 'controller-success': (obj._on || obj._lights_on || obj._fans_on) && (action == 'toggle' || action == 'on' || action == 'off') && obj._state != 'pending', 'controller-cool': obj._mode == 'COOL', 'controller-heat': obj._mode == 'HEAT', 'spin': (obj._on || obj._fans_on) && spin}">
    <span ng-show="icon && !obj._temperature"><i class="{{icon}}"></i></span>
    <span ng-show="obj._temperature">{{obj._temperature | number:0}}</span>
  </div>
  <div class="controller-status" ng-show="loading"><i class="icon-loadingalt spin"></i></div>
  <div class="controller-status" ng-show="error"><i class="icon-warning-sign"></i></div>
  <div class="controller-title" ng-hide="showTitle">{{title}}</div>
</div>
